/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #336;
    color: #fff;
    text-align: center;
    padding: 1rem;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
  }
  
  main {
    padding: 1rem;
  }
  
  section {
    margin-bottom: 2rem;
  }
  
  /* Estilos específicos */
  .animal-card {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  
  /* Estilos responsivos */
  @media (max-width: 768px) {
    header {
      display: flex;
      flex-direction: column;
    }
  
    nav {
      margin-top: 1rem;
    }
  
    nav a {
      margin: 0.5rem;
    }
  }
  